body{
    background-image: url(./pictures/white.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    justify-content: center;
    margin-left: 8em;
    color: black;
}
.selectedShoe{
    justify-content: center;
    margin-left: 5em;
    border-radius: 0.2em;
    border: solid black;
    height: 20em;
    width: 20em;
}
.stockEntered{
    justify-content: center;
    border-radius: 0.2em;
    border: solid black;
    height: 20em;  
    width: 20em;
    margin-bottom: 15em;
}
h3{
    margin-left: 3em;
}
h4{
    margin-left: 15em;
}
.catalogue{
  
    padding: 0.5px;
    width: 45em;
}
h5{
color: black;
}